
.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;

	@include breakpoint-up(large) {
		margin-top: 80px;
		flex-direction: row;
		align-items: unset;
		justify-content: center;
	}

	&__img {
		width: 145px;
		height: 200px;
		background-color: $gray;

		@include breakpoint-up(large) {
			width: 445px;
			height: 630px;
			margin-top: 40px;
			margin-right: 100px;
		}

		img {
			width: 82%;
			height: 88%;
			margin: auto;
			text-align: center;
		}
	}

	&__description {

		&__heading {
			padding: 15px 0;
			font-family: 'Cormorant', serif;
			font-size: 30px;
			font-weight: $med;

			@include breakpoint-up(large) {
				font-size: 65px;
				padding-bottom: 50px;
			}
		}

		&__p{
			font-size: 12px;

			@include breakpoint-up(large) {
				max-width: 595px;
				font-size: 16px;
			}
		}

	}
}
